#map {
  width: 900px;
  height: 800px;
  margin: auto;
  border: 1px solid #ccc;
}

#barchart {
  display: block;
  margin: auto;
}

.tooltip {
  position: absolute;
  background-color: white;
  padding: 6px;
  border: 1px solid #333;
  border-radius: 3px;
  pointer-events: none;
  font-size: 12px;
}

